<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Login Page</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
      <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Ready to Upload files?</h2>
      <form action="/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
		    <input type="file" name="myFile" class="file" style="display:none;">
		    <div class="input-group">
		      <input type="text" class="form-control input-lg" disabled>
		      <span class="input-group-btn">
		        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
		      </span>
		    </div>
		</div>
        <div class="form-group">
        	<button type="submit" class="btn btn-primary btn-lg btn-block">Upload it!</button>
        </div>

      </form>
    </div>
  </body>
  <script type="text/javascript">
	$(document).on('click', '.browse', function(){
	  var file = $(this).parent().parent().parent().find('.file');
	  file.trigger('click');
	});
	$(document).on('change', '.file', function(){
	  $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
	});
  </script>
</html>